@import "my/post.scss";

@import "my/sidebar.scss";
@import "my/sidebar_main.scss";
@import "my/sidebar_post.scss";
@import "my/sidebar_listgroup.scss";

@import "my/archives.scss";

@import "my/back_to_top.scss";

/*---------------------- main ------------------------*/

$height-footer: 40px;

html {
    font-family: "ff-tisa-web-pro",Cambria,"Times New Roman",Georgia,Times, sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
}

body {
    margin: 0;
}

strong {
    font-weight: bolder;
}


/*---------------------- footer copyright ------------------------*/

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #F8F8F8;
    border-top: 1px solid #EAEAEA;
}

.footer .copyright {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
    margin: 0 auto;
    display: block;
    color: #404040;
    text-align: center;
}